@font-face {
    font-family: poppinsF;
    src: url(Poppins-Medium.ttf)
}
*{
    margin: 0;
    padding: 0;
    font-family: poppinsF;
}
header{
    background-image: linear-gradient(to bottom right, #9A2F00, #FFD78E);
    width: 100%;
    height: 100%;
    margin-bottom: 0;
}
ul{
    list-style: none;
    color: white;
}
ul li a{
    text-decoration: none;
    color: white;
    transition: 0.2s;
}
a:hover{
    opacity: 0.7;
}
h3{
    color:#BD6831;
}
div p{
    color: white;
    font-size: 24;
    margin: 0;
}
section{
    background-color: #F5F5F5;
    margin: 0;
}
section div p{
    color:black;
}

.column{
    flex-direction: column;
}
.flex-container{
    display: flex;
    max-width: 1366px;
    margin: auto;
    width: 100%;
}
.bar{
    justify-content: space-between;
    align-items: flex-end;
    max-width: 400px;
    margin-right: 200px;
}
.mobile-menu {
    display: none;
    cursor: pointer;
  }
.mobile-menu div {
    display: flex;
    width: 32px;
    height: 2px;
    background: #fff;
    margin: 8px;
    transition: 0.3s;

  }
.size-icon{
    display: flex;
    margin-top: 15px;
}
.title{
    text-transform: uppercase;
    color: white;
    font-weight: bold;
    font-size: 48px;
    margin: 0;
}
.apresentacao{
    align-items: center;
    align-content: center;

}
#size-3beers{
    max-width: 543px;
    max-height: 574px;
    width: 100%;
    height: 100%;
}
.color{
    color:#BD6831
}
.sec1{
    align-items: center;
    padding: 150px 0 0 0;
}
.sec1 h1{
    font-size: 52px;
    font-weight: bold;
}
.sec1 p{
    margin-top: 10px;
    max-width: 40%;
    font-size: 24px;
    font-weight: bold;
    margin-left: 50px;
}
.size{
    max-width: 1220px;
    margin-left: 140px;
    align-items: center;
}
.sec2{
    margin-top: 150px;
    align-items: center;
    justify-content: space-between;
}
.box{
   background-color: #FFFF;
   margin: 10px;
   padding: 50px;
   width: 242px;
   height: 174px;
   border-radius: 30px 30px 107px 30px;

}
.box h3{
    font-size: 20px;
    font-weight: bold;
    margin-top: 15px;
}
.box p{
    font-size: 16px;
    font-weight: lighter;
    margin-top: 15px;
}
.sec3{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 25px;
    align-items: center;
    margin-bottom: 25px;
}
.sec3 li p{
    padding-left: 25px;
}
footer{
    display: flex;
    width: 100%;
    height: 100%;
    background-color: #BD6831;
    padding-top: 30px;
    padding-bottom: 30px;
}
.fot1{
    padding: 50px;
    width: 50%;
    height: 100%;
    margin: 0;
    flex-direction: column;
}
.fot1 h1{
    font-size: 32px;
    margin-bottom: 50px;
    color: white;
}
.fot1 p{
    margin-bottom: 25px;
    font-size: 20px;
}
.lead{
    margin-top: 50px;
}
button{
    width: 177px;
    height: 62px;
    background-color: #E2A766;
    border: none;
    border-radius: 15px;
    color: white;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;   
}
button:hover{
    opacity: 0.5;
}
input{
    background: rgba(226, 167, 102, 0.58);
    border: none;
    border-radius: 15px;
    width: 310px;
    height: 48px;
    padding: 8px;
    font-weight: bold;
    font-size: 20px;
    text-decoration-color: rgba(255, 255, 255, 0.62);
    outline: none;
}
.fot2{
    display: flex;
    width: 50%;
    height: 50%;
}
.fot2 ul h2{
    text-transform: uppercase;
}
.box2{
    width: 206px;
    height: 173px;
    border: 2px solid #c4c4c4;
    padding: 15px;
    margin: 15px;
    border-radius: 33px;
}
.box2 h2{
    margin-top: 5px;
}
.box2 p{
    margin-top: 5px;
}

/*mobile*/
@media(max-width: 992px){
    *{
        margin: 0;
        padding: 0;
    }
    div p{
        font-size: 14px;
    }
    .flex-container{
        flex-direction: column;
    }
    .menu{
        margin-bottom: 135px;
        flex-direction: row;
        justify-content: space-between;
    }
    .bar{
        position: absolute;
        right: 0;
        width: 175px;
        height: 190px;
        background: #FFFF;
        opacity: 0.3;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        transform: translateX(700px);
        margin-bottom: 10px;
        padding: 10px;
      }
      .bar li a{
        color: #9A2F00;
      }
      .mobile-menu {
        display: block;
        margin-top: 15px;
        overflow-x: hidden;
      }
      .bar.active {
        transform: translateX(200px);
      }
    .title{
        font-size: 38px;
    }
    #size-3beers{
        width: 343px;
        height: 374px;
    }
    .size{
        margin: 0;
    }
    .sec1 h1{
        font-size: 38px;
    }
    .sec1 p{
        font-size: 18px;
    }
    footer{
        flex-direction: column;
    }
    .fot1{
        flex-wrap: nowrap;
    }
    button{
        width: 25%;
        height: 38px;
        font-size: 10px;
        padding: 4px;
    }
    input{
        width: 65%;
        height: 28px;
        padding: 4px;
        font-size: 16px;  
    }
    .box2{
        width: 156px;
        height: 123px;
    }
    .box2 h2{
        font-size: 18px;
    }
    .box2 p{
        font-size: 12px;
    }
    .box2 img{
        width: 5vh;
        height: 5vh;
    }
}
@keyframes navLinkFade {
    from {
      opacity: 0;
      transform: translateX(50px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
  
  .mobile-menu.active .line1 {
    transform: rotate(-45deg) translate(-8px, 8px);
  }
  
  .mobile-menu.active .line2 {
    opacity: 0;
  }
  
  .mobile-menu.active .line3 {
    transform: rotate(45deg) translate(-5px, -7px);
  }