header{
    background-image: linear-gradient(to bottom right, #c4753b, #ffa800);
    width: 100%;
    height: 100%;
    max-height: 751px;
}
.column{
    flex-direction: column;
}
.flex-container{
    display: flex;
    max-width: 1366px;
    margin: auto;
    width: 100%;
}
.bar{
    justify-content: space-between;
    align-items: flex-end;
    align-content: flex-end;
    max-width: 400px;
    margin-right: 175px;
}
ul{
    list-style: none;
    color: white;
}
ul li a{
    text-decoration: none;
    color: white;
}


h3{
    color:#BD6831;
}
div p{
    color: white;
    font-size: 24;
    margin: 0;
}
section div p{
    color:black
}
.title{
    text-transform: uppercase;
    color: white;
    font-weight: bold;
    font-size: 48px;
    margin: 0;
}
.apresentacao{
    align-items: center;
    align-content: center;

}
#size-3beers{
    max-width: 543px;
    max-height: 574px;
    width: 100%;
    height: 100%;
}
